<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guet.personal.mapper.PclubMapper">
<!--  根据社团负责人id查询社团id  -->
    <select id="selectClubIdByUserId" parameterType="Long" resultType="Long">
        select club_id from tb_club where leader_id = #{userId}
    </select>
</mapper>